*{
    margin:0;
    padding:0;
}

.flex {
    border: 2px solid white;
    margin: 20px;
    display: flex;
}

.flex div{
    border: 2px solid black;
    width: 800px;
    height: 100px;
    margin: 20px;
    padding: 14px;
}

#special{
    border: 2px solid black;
    margin: 20px;
    padding: 14px;
}

.menu{
    display: flex;
    font-style: white;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color: green;
    font-size: 20px;
    padding: 8px;
    color: white;
}

.item{
    order: 1;
    font-size: 20px;
    display: flex;
    padding: 8px;
    color: white;
}